@font-face {
  font-family: "Saans";
  src: url("/fonts/Saans/Saans-VF.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Saans Semi Mono Italic";
  src: url("/fonts/Saans/SaansSemiMonoItalics-VF.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
